@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,700);

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
    color: color(gray, dark);
    font: {
        family: font(base), sans-serif;
        size: 16px;
        weight: 300;
    }
    margin: 0;
}
