@mixin ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

@mixin resetButton {
    background: transparent;
    border: 0;
    padding: 0;
}

@mixin siteContent {
    max-width: 960px + (space(small) * 2);
    margin: auto;
    padding: 0 space(small);
}
