.questions {

    &__toggle {
        color: color(blue);

        &--open {
            color: color(pink);
        }
    }

    &__dropdown {
        max-height: 0px;
        overflow: hidden;
        transition: max-height speed(fast) ease(out);

        .questions__toggle--open ~ & {
            max-height: 1000px;
    		transition: max-height speed() ease(in);
        }
    }
}
