.topics {

    &__nav {
        border-bottom: border(medium) solid color(gray);
        position: relative;
    }

    &__content {
        @include siteContent;
    }

    &__toggle {
        @include resetButton;
        color: color(blue);
        cursor: pointer;
        font-size: 16px;
        outline: 0;
        padding: {
            bottom: space(small);
            top: space(small);
        }
        transition: color speed(fast) ease(out);

        &:hover {
            color: color(blue, dark);
        }

        &--open {
            color: color(pink);

            &:hover {
                color: color(pink, dark);
            }
        }
    }

    &__dropdown {
        background: color(gray, light);
        left: 0;
        max-height: 0px;
        overflow: hidden;
        position: absolute;
        top: calc(100% + #{border(medium)});
        transition: speed(fast) ease(out);
        transition-property: border, max-height ;
        width: 100%;
        z-index: zIndex(navigation);

        &:before {
            background: color(gray);
            bottom: 0;
            content: '';
            display: block;
            height: border(medium);
            position: absolute;
            width: 100%;
        }

        .topics__toggle--open ~ & {
            max-height: 1000px;
    		transition: max-height speed() ease(in);
        }
    }

    &__options {
        @include siteContent;
        padding: {
            bottom: space(small);
            top: space(small);
        };
    }

    &__list {
        border-bottom: border(medium) solid color(gray);
        list-style: none;
        margin: 0 0 space(small);
        padding: 0 0 space(small);
    }

    &__item {
        padding: space(small) 0;
    }

    &__link,
    &__all {
        color: color(blue);
        text-decoration: none;
        transition: color speed(fast) ease(out);

        &:hover {
            color: color(blue, dark);
        }

        &--active {
            color: color(pink);

            &:hover {
                color: color(pink, dark);
            }
        }
    }

    &__heading {
        margin: 0 0 space(small);
    }

    &__description {
        margin: 0;

        .topics__link ~ & {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }

    &__all {
        display: inline-block;
        padding: space(small) 0;
    }

    &__active {
        background: color(gray, light);
        border-bottom: border(medium) solid color(gray);
        padding: space(large) 0;
    }
}
