$space: (
    tiny: 6px,
    small: 16px,
    medium: 32px,
    large: 48px,
    huge: 64px
);

@function space($type: medium) {
    @return map-get($space, $type);
}

$speed: (
    slow: 1s,
    medium: 0.5s,
    fast: 0.25s
);

@function speed($type: medium) {
    @return map-get($speed, $type);
}

@function delay($type: medium) {
    @return map-get($speed, $type);
}

$ease: (
    in: ease-in,
    out: ease-out
);

@function ease($type: out) {
    @return map-get($ease, $type);
}

// https://www.google.com/design/spec/style/color.html#color-color-palette
$color: (
    blue: (
        light: #E3F2FD,
        medium: #2196F3,
        dark: #1565C0
    ),
    gray: (
        light: #ECEFF1,
        medium: #CFD8DC,
        dark: #607D8B
    ),
    pink: (
        light: #FFBAD9,
        medium: #E91E63,
        dark: #AD1457
    )
);

@function color($type, $tint: medium) {
    $type: map-get($color, $type);
    @return map-get($type, $tint);
}

$zIndex: (
    navigation: 100,
);

@function zIndex($type) {
    @return map-get($zIndex, $type);
}

$font: (
    base: 'Roboto'
);

@function font($type: block) {
    @return map-get($font, $type);
}

$border: (
    small: 1px,
    medium: 2px,
    large: 3px
);

@function border($type: medium) {
    @return map-get($border, $type);
}
